# Folders
learning/data/raw_audio
learning/data/lmdb
learning/data/spectro_data
learning/snapshots
learning/weights
web-app/weights
web-app/node_modules
web-app/lib
web-app/models
web-app/samples

lib
timeline.txt

# Python
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
