@font-face {
  font-family: 'SourceSansPro-Light';
  src: url(fonts/SourceSansPro-Light.otf);
}
@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src: url(fonts/SourceSansPro-ExtraLight.otf);
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden;
    display: block;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    background-color: black;
}
canvas {
    width: 100%;
    height: 100%;
    margin: 0;
}
#readMeLink {
    position: fixed;
    top: 13px;
    text-align: right;
    width: 100%;
    color: rgba(255, 255, 255, 0.39);
    font-family: 'SourceSansPro-Light', Helvetica, Arial, sans-serif;
    font-size: 15px;
    right: 20px;
    opacity: 0;
    display: none;
}
    #readMeLink:hover {
        color: rgba(255, 255, 255, 0.51);
    }
#startMessage {
    font-family: 'SourceSansPro-Light', Helvetica, Arial, sans-serif;
    position: fixed;
    bottom: 80px;
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.69);
    font-size: 20px;
    cursor: default;
    display: none;
    opacity: 0;
}
#controls {
    position: fixed;
    bottom: 0px;
    background-color: #131313;
    height: 50px;
    width: 100%;
    border-top: #333333;
    border-style: solid;
    border-top-width: 2px;
    opacity: 0.5;
    cursor: default;
    display: none;
    opacity: 0;
}
    #controls > #next {
        width: 31px;
        position: absolute;
        right: 24px;
        bottom: 9px;
        cursor: pointer;
    }
    #controls > #songInfo {
        color: white;
        text-align: center;
        font-family: sans-serif;
    }
        #controls > #songInfo > #title {
            font-size: 19px;
            font-weight: 600;
            margin-top: 6px;
        }
        #controls > #songInfo > #artist {
            font-size: 13px;
            font-weight: 200;
            font-style: italic;
            margin-top: -1px;
            margin-bottom: 0px;
        }
#intro {
    color: #e9e9e9;
    font-family: 'SourceSansPro-ExtraLight', Helvetica, Arial, sans-serif;
    opacity: 0;
}
    #intro h2 {
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #intro h4 {
        font-size: 22px;
        margin-top: 9px;
        margin-bottom: 11px;
    }
    #intro a {
        font-size: 22px;
        color: #9c7e43;
        text-decoration: none;
    }
        #intro a:hover {
            color: #b08f4f;
        }
    #intro p {
        color: #c1c1c1;
        text-align: center;
        position: relative;
        margin: auto;
        bottom: 50px;
        position: absolute;
        width: 100%;
        font-size: 19px;
    }


.centerContainer {
    height: 100%;
    position: relative;
}
.centerContent {
    width: 70%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: right;
    height: 70%;
}
.blinking {
    animation: blinker 2.8s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
